<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>autoQus</title>
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/other.css">
    <link rel="stylesheet" href="/style/paper.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="logodiv">
            <img src="/images/staticlogo.png" class="logo" alt="logo">
            <span><a href="/">AutoQus</a></span>
        </div>
        <div class="contentdiv">
            <div class="dropcontainer">
                <div class="dropbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                      </svg>
                </div>
                <div class="dropdown display">
                    <a href="/login">login</a>
                    <a href="/dashboard">dashboard</a>
                    <a href="/create">create</a>
                    <a href="/paper">papers</a>
                    <a href="/contact">contact</a>
                    <a href="/logout">logout</a>
                </div>
            </div>
        </div>
    </div>
