.ftrflex{
    display:flex;
    padding:1rem;
    background-color: rgba(0,0,0,0.1);
    justify-content: center;
    color:#0A4D68;
}


.ftrgrid{
    display: grid;
    gap:4px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.ftrdeveloper{
    background-color: rgba(6, 76, 255, 0.735);
    background-image: url("/images/ROHIT_PROFILE_PICTURE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:20% ;
    border-radius: 50%;
    background-blend-mode: lighten;
    height: 50px;
    width:50px;
}

.ftradjust{
    grid-row: span 2;
    display: flex;
    align-items: center;
}

.ftrgrid>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftrgrid>div>span{
    font-size: 1.5rem;
}

