.ftrflex{
    display:flex;
    justify-content: end;
    position: fixed;
    bottom:5px;
    left:0;
    right:5px;
    z-index:-1;
}


.ftrgrid{
    display: grid;
    gap:4px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.ftrgrid>div{
    background-color:rgba(0, 0, 0, 0.2);
    padding:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}
.ftrgrid>div>span{
    font-size: 1.5rem;
}

.ftrdeveloper{
    background-color: rgba(6, 76, 255, 0.735);
    background-image: url("/images/ROHIT_PROFILE_PICTURE.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    height: 50px;
    width:50px;
}

.ftradjust{
    grid-row: span 2;
    display: flex;
    align-items: center;
    grid-row: 0;
}

